@import 'reset';
@import 'html5bp';
@import 'colors';

body {
  font-family: 'Open Sans', 'Times New Roman', sans-serif;
  font-size: 1em;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Lato', serif;
  font-weight: 900;
}