@import 'reset';
@import 'html5bp';
@import 'colors';

p {
  color: white;
}

.normal {
  font-family: 'Lato';
  font-weight: normal;
  font-style: normal;
}

.bold {
  font-family: 'Lato';
  font-weight: bold;
  font-style: normal;
}

.normal-italic {
  font-family: 'Lato';
  font-weight: normal;
  font-style: italic;
}

.bold-italic {
  font-family: 'Lato';
  font-weight: bold;
  font-style: italic;
}