@import 'reset';
@import 'html5bp';
@import 'colors';
@import 'variables';

* {
 -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
}

:focus {
  outline: 0;
  border: none;
  color: rgba(255, 255, 255, 0);
}

div {
  -webkit-appearance:none;
}

body {
  font-family: 'Open Sans', 'Times New Roman', sans-serif;
  font-size: 1em;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Lato', serif;
  font-weight: 900;
}