$primary-nav-color: #95E6A0;
$secondary-nav-color: #5CC76A;

$menu-color: #454545;

$error-color: #F47D77;
$error-box-color: #FCDFDE;

$success-box-color: #EEFBF0;

$base-text-color: #434343;

$faded-text-color: #9CA0A3;
$lesser-faded-text-color: #ACB0B2;

$active-faded-text-color: #A2A2A2;

$active-state-color: #F5B277;

$ios-background: #62BEC7;
$android-background: #95E6A0;

$white: #ffffff;