@font-face {
  font-family: 'Lato Black';
  src: local('Lato Black'),
        local('Lato-Black'),
        url('/dist/css/fonts/lato/Lato-Black.woff') format('woff'),
        url('/dist/css/fonts/lato/Lato-Black.ttf') format('truetype');
}
@font-face {
  font-family: 'Liberation-Sans Regular';
  src: local('LiberationSans-Regular'),
       url('/dist/css/fonts/liberation_sans/LiberationSans-Regular.ttf') format('truetype');
}
