// Front-page styling =============================================================
#bgvid {
  display: block;
  position: fixed;
  left: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
  height: auto;
  width: auto;
  z-index: -100;
  background: url('/dist/img/phone.jpg') no-repeat;
  background-size: cover;
}

#screen-overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: rgba(34,34,34,0.7);
  z-index: -1;
}

#logo {
  margin: 0 auto;
  font-size: 3em;
  font-family: 'Lato';
  font-weight: 900;
  color: #ffffff;
  text-align: center;
  margin-top: 125px;

  @media screen and (min-width: $break-phone) {
    font-size: 4em;
    margin-top: 125px;
  }
  @media screen and (min-width: $break-tablet) {
    font-size: 5em;
  }
  @media screen and (min-width: $break-medium) {
    font-size: 8em;
  }
}

#login,
#register {
  font-family: 'Lato';
  font-weight: 300;
  font-size: 18px;
  color: rgba(255,255,255,.75);
  text-decoration: none;
  border-radius: 11px;
  border: 1px solid rgba($white, 0.5);
  padding: 5px 10px;
  transition: .25s all;

  @media screen and (min-width: $break-medium) {
    &:hover {
      border: 1px solid rgba(255,255,255,0.75);
      color: rgba(255,255,255,.75);
    }
  }
}

#login {
  position: absolute;
  right: 10px;
  top: 10px;
}

#register {
  position: absolute;
  left: 10px;
  top: 10px;
}

// Social Connection Boxes ==========================================================
.social--container {
  text-align: center;
  margin: 0 auto;
}

.social--box {
  display: inline-block;
  color: white;
  padding: 10px;
  text-align: left;
  margin: 5px;
  margin-top: 0;
  border-radius: 5px;
}

.social--box__ios {
  background: $ios-background;
}

.social--box__android {
  background: $android-background;
}

.social--box__description,
.social--box__title {
  margin: 0;
}

// Main Navigation menu ============================================================
.main-nav {
  width: 100%;
  transition: background .5s;
  padding: 10px 0;

  background: $primary-nav-color;
  color: $white;

  &:hover {
    .icon {
      cursor: pointer;
    }
  }
}

.main-nav__alternate {
  background: $white;
  color: $primary-nav-color;

  @media screen and (min-width: $break-medium) {
    &:hover {
      background: rgba($white, 0.2);

      .logo--alternate, .icon {
        color: $white;
      }
    }
  }
}

.main-nav .logo {
  display: inline-block;
  font-family: 'Lato', Georgia, 'Times New Roman', serif;
  font-weight: 900;
  font-size: 1.5em;
  transition: background .25s;
}

.main-nav .icon {
  position: absolute;
  left: 0;
  top: 2px;
  font-size: 2em;
  transition: background .25s;
}

.logo {
  color: $white;
  text-decoration: none;
}

.logo--alternate {
  color: $primary-nav-color;
  text-decoration: none;
}

// Input fields =====================================================================
.text-field {
  display: block;
  max-width: 320px;
  width: 80%;
  border-radius: 5px;
  padding: 10px;
  margin: 10px auto;
  outline: 0;
  letter-spacing: .02em;
  border: 0;
}

.input--search {
  margin: 15px auto;
  font-size: 2em;
  border-radius: 5px;
  width: 100%;
  border: 1px solid #D7D7D7;
  position: relative;
}

.input--search .text-field {
  font-size: .5em;
  border-radius: 0;
  transition: all .3s ease;
  padding: 15px;
  width: 65%;
  margin: 0;
  display: inline-block;
}

.input--search .icon_search {
  display: inline-block;
  background: none;
  color: $lesser-faded-text-color;
  border: none;
  position: relative;
}

// Buttons ==========================================================================
.submit--button {
  vertical-align: middle;
  text-align: center;
  border-radius: 5px;
  border: 0;
  font-family: 'Lato', Georgia, 'Times New Roman', serif;
  font-weight: bold;
  padding: 10px;

  &:hover {
    background: lighten($active-state-color, 4%);
  }
}

.submit--button__login,
.submit--button__register {
  background: $active-state-color;
  color: $white;
  float: right;
  transition: background .5s;
  width: 30%;
}

.submit-container.submit-container--center {
 text-align: center;
}

.submit--button__create {
  display: inline-block;
  background: $active-state-color;
  color: $white;
  transition: background .5s;
}

// Headings =========================================================================
.success-heading, .error-heading {
  color: $white;
}

.register--heading {
  position: absolute;
  left: 0px;
  top: 11px;
  color: $white;
  font-size: 14px;
  font-style: italic;
}

.main-heading {
  color: $white;
}

// Menu Styling =======================================================================
/* General styles for all menus */

.cbp-spmenu {
  background: $menu-color;
  position: fixed;
}

.cbp-spmenu h3 {
  color: $white;
  font-size: 1.9em;
  display: inline-block;
  margin: 0;
  font-weight: 300;
  background: $menu-color;
}

.cbp-spmenu__alternate {
  padding: 20px;
}

.cbp-spmenu a {
  display: block;
  color: $white;
  text-decoration: none;
  font-size: 1.1em;
  font-weight: 300;
}

.cbp-spmenu span.icon {
  font-size: 1.4em;
  width: 25px;
  margin-right: 10px;
  position: relative;
}

.cbp-spmenu .icon_home {
  bottom: 5px;
}

.cbp-spmenu .icon_book,
.cbp-spmenu .icon_card,
.cbp-spmenu .icon_gear {
  bottom: 3px;
}

.cbp-spmenu a:hover {
  background: #258ecd;
}

.cbp-spmenu a:active {

  @media screen and (min-width: $break-medium) {
    background: #afdefa;
    color: #47a3da;
  }
}

/* Orientation-dependent styles for the content of the menu */

.cbp-spmenu-vertical {
  width: 240px;
  height: 100%;
  top: 0;
  z-index: 1000;
}

.cbp-spmenu-vertical a {
  padding: .8em;
}

/* Vertical menu that slides from the left or right */

.cbp-spmenu-left {
  left: -240px;
}

.cbp-spmenu-left.cbp-spmenu-open {
  left: 0;
}

/* Push classes applied to the body */

.cbp-spmenu-push {
  overflow-x: hidden;
  position: relative;
  left: 0;
}

.cbp-spmenu-push-toright {
  left: 240px;
}

/* Transitions */

.cbp-spmenu,
.cbp-spmenu-push {
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

/* Example media queries */

@media screen and (max-width: 55.1875em){

  .cbp-spmenu-horizontal {
      font-size: 75%;
      height: 110px;
  }

  .cbp-spmenu-top {
      top: -110px;
  }

  .cbp-spmenu-bottom {
      bottom: -110px;
  }

}

@media screen and (max-height: 26.375em){

  .cbp-spmenu-vertical {
      font-size: 90%;
      width: 240px;
  }

  .cbp-spmenu-left,
  .cbp-spmenu-push-toleft {
      left: -240px;
  }

  .cbp-spmenu-right {
      right: -240px;
  }

  .cbp-spmenu-push-toright {
      left: 240px;
  }
}

// Avatar stuff =====================================================================
.hero-avatar {
  width: 75px;
  height: 75px;
  border-radius: 100%;
  display: inline-block;
  overflow: hidden;
  border: 3px solid $white;
  background-color: $white;
  box-shadow: 0 1px 1px rgba($black, 0.3);
}

.hero-avatar--img {
  display: block;
  width: 100%;
  height: 100%;
  border-radius: 100%;
}

.hero-unit {
  position: relative;
  padding: 15px 5px 0;
  text-align: center;

  @media screen and (max-height: 26.375em) {
    padding: 15px 10px 0;
  }
}

.hero-avatar--title {
  padding: 10px;
}

.hero-avatar::before {
  content: "";
  border-bottom: 4px solid #258ecd;
  border-left: 4px solid transparent;
  border-right: 4px solid transparent;
  opacity: 0;
  position: absolute;
  left: 114px;
  bottom: 52px;
  transition: .3s all ease-in-out;
}

.hero-avatar::after {
  content: attr(data-tooltip);
  color: $white;
  font-size: 12px;
  background: #258ecd;
  border-radius: 5px;
  padding: 10px;
  position: absolute;
  left: 8px;
  bottom: 16px;
  transition: .3s all ease-in-out;
  opacity: 0;
}

.hero-avatar:hover::before,
.hero-avatar:hover::after {
  opacity: 1;
}

// Info Boxes ==============================================================================
.info-box {
  width: 100%;
  max-width: 600px;
  margin: 0 auto;
  border-top: 1px solid $info-box-border-color;
  text-align: left;
  position: relative;

  @media screen and (min-width: $break-phone) {
    margin-bottom: 25px;
  }
}

.info-box__alternate {
  background: $white;
  padding: 15px;
  width: 90%;
  margin: 0 auto;
  transition: all .3s ease;
}

.info-box__alternate:hover {
  box-shadow: 5px 5px 5px rgba($black, .3);
  margin: 15px auto;
}

.info-box__alternate .info-box--heading {
  margin-top: 0;
  width: 75%;
}

.info-box__alternate .info-box--desc__list {
  margin-bottom: 0;
}

.info-box--heading {
  margin-top: 25px;
}
.info-box--heading__date, .info-box--heading__primary {
  margin: 5px 0;
}

.info-box--heading__date {
  color: $lesser-faded-text-color;
  font-weight: normal;

  @media screen and (min-width: $break-phone) {
    font-size: .9em;
  }
}

.info-box--heading__primary {
  @media screen and (min-width: $break-phone) {
    font-size: 1.5em;
  }
}

.info-box--heading__primary,
.info-box--heading__primary a {
  text-decoration: none;
  color: $base-text-color;
  transition: all .3s;
}

.info-box--heading__primary a:hover {
  color: lighten($base-text-color, 50%);
}

.info-box--heading__link {
  display: block;
  text-decoration: none;
  font-size: 1.5em;
  color: $base-text-color;
}

.info-box--heading__course-name {
  font-size: 1em;
  margin: 0;
}

.info-box--jumbo {
  font-size: 4em;
  color: $lesser-faded-text-color;
  font-weight: normal;
  margin: 0;

  @media screen and (min-width: $break-phone) {
    position: absolute;
    right: 10%;
    top: 35px;
    font-size: 3.5em;
  }

  @media screen and (min-width: $break-medium) {
    font-size: 5em;
    color: lighten($lesser-faded-text-color, 15%);
  }
}

.info-box--jumbo__positive {
  color: #95E69F;
}

.info-box--jumbo__negative {
  color: #F58C87;
}

.info-box--desc {
  margin-top: 10px;
}

.info-box--desc__list {
  background: #62BEC7;
  border-radius: 5px;
  padding: 5px 10px;
  width: 80%;
  max-width: 450px;
}

.info-box--desc__list-item {
  color: $white;
  list-style-type: none;
}

.info-box--desc__positive .info-box--desc__text,
.info-box--desc__negative .info-box--desc__text,
.info-box--desc__future .info-box--desc__text {
  display: inline-block;
  padding: 5px 10px;
  margin: 0;
  border-radius: 5px;
}

.info-box--desc__positive .info-box--desc__text {
  background: #EEFBF0;
  color: #95E69F;
}

.info-box--desc__negative .info-box--desc__text {
  background: #FDDFDE;
  color: #F58C87;
}

.info-box--desc__future .info-box--desc__text {
  background: $neutral-box-color;
  color: $lesser-faded-text-color;
}

.options-box {
  background: $white;
  position: absolute;
  right: -10px;
  top: 45px;
  display: inline-block;
  border: 1px solid $info-box-border-color;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(#C9C9C9, 0.5);
  padding: 5px;
  transition: all .3s ease;
  display: none;
}

.options-box::before {
  position: absolute;
  top: -10px;
  left: 41px;
  content: "";
  border-bottom: 10px solid $white;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
}

.options-box::after {
  position: absolute;
  top: -11px;
  left: 40px;
  content: "";
  border-bottom: 11px solid $info-box-border-color;
  border-left: 11px solid transparent;
  border-right: 11px solid transparent;
  z-index: -1;
}

.option-select {
  margin: 15px 10px;
  color: $lesser-faded-text-color;
}

.option-select .icon {
  width: 15px;
}

.option-select--add,
.option-select--edit,
.option-select--delete {
  text-decoration: none;
  color: $lesser-faded-text-color;
}

.option-select--add {
  background: #E99549;
  border-radius: 5px;
  color: $white;
  border: none;
  box-shadow: none;
  padding: 10px 15px;
  font-size: 1.2em;
  position: absolute;
  right: 15px;
}

.option-select--delete {
  background: white;
  border: none;
  padding: 0;
}

.option-select--edit:hover {
  color: darken($lesser-faded-text-color, 25%);
}

.option-select--delete:hover {
  color: $error-color;
}

.option-select--text {
  display: inline-block;
  margin: 0;
}

.info-box--options {
  position: absolute;
  color: $lesser-faded-text-color;
  font-size: 2em;
  top: 5px;
  right: 22px;

  @media screen and (min-width: $break-medium) {
    &:hover {
      color: darken($lesser-faded-text-color, 25%);
      cursor: pointer;
    }
  }
}

.info-box--options__selected {
  color: darken($lesser-faded-text-color, 25%);
}

// Link Styling ============================================================================
.link--add {
  display: inline-block;
  background: $white;
  text-decoration: none;
  color: #D5D7D8;
  border-radius: 5px;
  border: 1px solid #D7D7D7;
  transition: all .3s;
  width: 100%;
  padding: 5px 0;
  margin-bottom: 10px;

  &:hover {
    color: #A2A2A2;
    border: 1px solid #A2A2A2;
  }

  @media screen and (min-width: $break-phone) {
    width: 50%;
    text-align: center;
    display: inline-block;
  }

  @media screen and (min-width: $break-medium) {
    width: 20%;
    position: absolute;
    top: 5px;
    right: 0;
  }
}

// Title Headers ===========================================================================
.page-title {
  margin-bottom: 10px;
}

// Modals ==================================================================================
.md-modal {
  position: fixed;
  top: 50%;
  left: 50%;
  width: 50%;
  max-width: 630px;
  min-width: 320px;
  height: auto;
  z-index: 2000;
  visibility: hidden;
  backface-visibility: hidden;
  transform: translateX(-50%) translateY(-50%);
}

.md-show {
  visibility: visible;
}

.md-show ~ .md-overlay {
  opacity: 1;
  visibility: visible;
}

/* Effect 1: Fade in and scale up */
.md-effect-1 .md-content {
  -webkit-transform: scale(0.7);
  -moz-transform: scale(0.7);
  -ms-transform: scale(0.7);
  transform: scale(0.7);
  opacity: 0;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
}

.md-show.md-effect-1 .md-content {
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
  opacity: 1;
}

/*
Styles for the html/body for special modal where we want 3d effects
Note that we need a container wrapping all content on the page for the
perspective effects (not including the modals and the overlay).
*/
.md-perspective,
.md-perspective body {
  height: 100%;
  overflow: hidden;
}

.md-perspective body  {
  background: #222;
  -webkit-perspective: 600px;
  -moz-perspective: 600px;
  perspective: 600px;
}

.container {
  background: #e74c3c;
  min-height: 100%;
}

.md-modal {
  position: fixed;
  top: 50%;
  left: 50%;
  width: 50%;
  max-width: 630px;
  min-width: 320px;
  height: auto;
  z-index: 2000;
  visibility: hidden;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-transform: translateX(-50%) translateY(-50%);
  -moz-transform: translateX(-50%) translateY(-50%);
  -ms-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
}

.md-show {
  visibility: visible;
}

.md-overlay {
  position: fixed;
  width: 100%;
  height: 100%;
  visibility: hidden;
  top: 0;
  left: 0;
  z-index: 1000;
  opacity: 0;
  background: rgba(#0F565C, 0.8);
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
}

.md-show ~ .md-overlay {
  opacity: 1;
  visibility: visible;
}

/* Content styles */
.md-content {
  color: #fff;
  background: #62BEC7;
  position: relative;
  border-radius: 3px;
  margin: 0 auto;
}

.md-content h3 {
  margin: 0;
  padding: 0.4em;
  text-align: center;
  font-size: 2.4em;
  font-weight: 300;
  opacity: 0.8;
  background: rgba(0,0,0,0.1);
  border-radius: 3px 3px 0 0;
}

.md-content > div {
  padding: 15px 40px 30px;
  margin: 0;
  font-weight: 300;
  font-size: 1.15em;
}

.md-content > div p {
  margin: 0;
  padding: 10px 0;
}

.md-content > div ul {
  margin: 0;
  padding: 0 0 30px 20px;
}

.md-content > div ul li {
  padding: 5px 0;
}

.modal--options {
  text-align: center;
}

.modal--options form {
  margin: 0;
  display: inline-block;
}

.modal--options__close,
.modal--options__confirm {
  font-family: 'Lato';
  font-weight: normal;
  display: inline-block;
  border: none;
  border-radius: 5px;
  padding: 5px 10px;
  transition: all .3s ease;
  background: #E99549;
  margin: 0;

  font-size: 1.2em;

  &:hover {

  }
}

.modal--options__close  {
  margin-left: 10px;
}

.modal--options__confirm {
  text-decoration: none;
  color: $white;
}

// Forms ===================================================================================
.search--form {
  text-align: center;
  margin: 0 auto;
  border: none;
  box-shadow: none;
  outline: none;
  background: $white;
  max-width: 320px;
  &:hover {
    box-shadow: 3px 3px 5px rgba($black, .3);
  }

}

.search--input {
  width: 100%;
}

// Alerts ==================================================================================
.alert--search {
  color: $white;
  background: #61BEC7;
  padding: 15px;
  width: 80%;
  margin: 0 auto;
  border-radius: 15px;
}

.alert--search .icon_bell {
  display: inline-block;
  color: $white;
  font-size: 2.5em;
}

.alert--search__description {
  display: inline-block;
}