// Front-page styling =============================================================
#bgvid {
  position: fixed;
  left: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: -100;
  background: url('/dist/img/phone.jpg') no-repeat;
  background-size: cover;
}

#poster {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: rgba(0,0,0,0.6);
  z-index: -1;
}

#logo {
  margin: 0 auto;
  font-size: 8em;
  font-family: 'Lato';
  font-weight: 900;
  color: #ffffff;
  text-align: center;
  margin-top: 200px;
}

#login,
#register {
  font-family: 'Lato';
  font-weight: 300;
  color: rgba(255,255,255,.5);
  text-decoration: none;
  border-radius: 11px;
  border: 1px solid rgba(255,255,255,0.25);
  padding: 5px 10px;
  transition: .25s all;

  &:hover {
    border: 1px solid rgba(255,255,255,0.75);
    color: rgba(255,255,255,.75);
  }
}

#login {
  position: absolute;
  right: 10px;
  top: 10px;
}

#register {
  position: absolute;
  left: 10px;
  top: 10px;
}

// Social Connection Boxes ==========================================================
.social--container {
  text-align: center;
  margin: 0 auto;
}

.social--box {
  display: inline-block;
  color: white;
  padding: 10px;
  text-align: left;
  margin: 5px;
  margin-top: 0;
  border-radius: 5px;
}

.social--box__ios {
  background: $ios-background;
}

.social--box__android {
  background: $android-background;
}

.social--box__description,
.social--box__title {
  margin: 0;
}

// Main Navigation menu ============================================================
.main-nav {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 900;
  width: 100%;
  transition: background .5s;
  padding: 10px 0;
}

.main-nav__alternate {
  background: $white;
  color: $primary-nav-color;

  &:hover {
    .icon {
      cursor: pointer;
    }
  }

  @media screen and (min-width: $break-medium) {
    &:hover {
      background: rgba($white, 0.2);

      .logo--login {
        color: $white;
      }

      .icon {
        color: $white;
      }
    }
  }
}

.main-nav .logo {
  display: inline-block;
  font-family: 'Lato', Georgia, 'Times New Roman', serif;
  font-weight: 900;
  font-size: 1.5em;
  transition: background .25s;
}

.main-nav .icon {
  position: absolute;
  left: 0;
  top: 2px;
  font-size: 2em;
  transition: background .25s;
}

.logo--login {
  color: $primary-nav-color;
  text-decoration: none;
}

// Input fields =====================================================================
.text-field {
  display: block;
  max-width: 320px;
  width: 80%;
  border-radius: 5px;
  padding: 10px;
  margin: 10px auto;
  outline: 0;
  letter-spacing: .02em;
  border: 0;
}

// Buttons ==========================================================================
.submit--button {
  vertical-align: middle;
  text-align: center;
  border-radius: 5px;
  border: 0;
  font-family: 'Lato', Georgia, 'Times New Roman', serif;
  font-weight: bold;
  padding: 10px;

  @media screen and (min-width: $break-medium) {
    &:hover {
      background: lighten($active-state-color, 4%);
    }
  }
}

.submit--button__login {
  background: $active-state-color;
  color: $white;
  float: right;
  transition: background .5s;
  width: 30%;
}

.submit--button__register {
  background: $active-state-color;
  color: $white;
  transition: background .5s;
  width: 30%;
}

// Headings =========================================================================
.success-heading, .error-heading {
  color: $white;
}

.register--heading {
  position: absolute;
  left: 10px;
  top: 13px;
  color: $white;
  font-size: 12px;
  font-style: italic;
}