@import '../base/colors';

#bgvid {
  position: fixed;
  left: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: -100;
  background: url('/dist/img/phone.jpg') no-repeat;
  background-size: cover;
}

#poster {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: rgba(0,0,0,0.6);
  z-index: -1;
}

#logo {
  margin: 0 auto;
  font-size: 8em;
  font-family: 'Lato';
  font-weight: 900;
  color: #ffffff;
  text-align: center;
  margin-top: 200px;
}

#login,
#register {
  font-family: 'Lato';
  font-weight: 300;
  color: rgba(255,255,255,.5);
  text-decoration: none;
  border-radius: 11px;
  border: 1px solid rgba(255,255,255,0.25);
  padding: 5px 10px;
  transition: .25s all;

  &:hover {
    border: 1px solid rgba(255,255,255,0.75);
    color: rgba(255,255,255,.75);
  }
}

#login {
  position: absolute;
  right: 10px;
  top: 10px;
}

#register {
  position: absolute;
  left: 10px;
  top: 10px;
}

.social--container {
  text-align: center;
  margin: 0 auto;
}

.social--box {
  display: inline-block;
  color: white;
  padding: 10px;
  text-align: left;
  margin: 5px;
  margin-top: 0;
  border-radius: 5px;
}

.social--box__ios {
  background: $ios-background;
}

.social--box__android {
  background: $android-background;
}

.social--box__description,
.social--box__title {
  margin: 0;
}