// Front-page styling =============================================================
#bgvid {
  display: block;
  position: fixed;
  left: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
  height: auto;
  width: auto;
  z-index: -100;
  background: url('/dist/img/phone.jpg') no-repeat;
  background-size: cover;
}

#screen-overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: rgba(34,34,34,0.7);
  z-index: -1;
}

#logo {
  margin: 0 auto;
  font-size: 3em;
  font-family: 'Lato';
  font-weight: 900;
  color: #ffffff;
  text-align: center;
  margin-top: 125px;

  @media screen and (min-width: $break-phone) {
    font-size: 4em;
    margin-top: 125px;
  }
  @media screen and (min-width: $break-tablet) {
    font-size: 5em;
  }
  @media screen and (min-width: $break-medium) {
    font-size: 8em;
  }
}

#login,
#register {
  font-family: 'Lato';
  font-weight: 300;
  font-size: 18px;
  color: rgba(255,255,255,.75);
  text-decoration: none;
  border-radius: 11px;
  border: 1px solid rgba($white, 0.5);
  padding: 5px 10px;
  transition: .25s all;

  @media screen and (min-width: $break-medium) {
    &:hover {
      border: 1px solid rgba(255,255,255,0.75);
      color: rgba(255,255,255,.75);
    }
  }
}

#login {
  position: absolute;
  right: 10px;
  top: 10px;
}

#register {
  position: absolute;
  left: 10px;
  top: 10px;
}

// Social Connection Boxes ==========================================================
.social--container {
  text-align: center;
  margin: 0 auto;
}

.social--box {
  display: inline-block;
  color: white;
  padding: 10px;
  text-align: left;
  margin: 5px;
  margin-top: 0;
  border-radius: 5px;
}

.social--box__ios {
  background: $ios-background;
}

.social--box__android {
  background: $android-background;
}

.social--box__description,
.social--box__title {
  margin: 0;
}

// Main Navigation menu ============================================================
.main-nav {
  width: 100%;
  transition: background .5s;
  padding: 10px 0;

  background: $primary-nav-color;
  color: $white;

  &:hover {
    .icon {
      cursor: pointer;
    }
  }
}

.main-nav__alternate {
  background: $white;
  color: $primary-nav-color;

  @media screen and (min-width: $break-medium) {
    &:hover {
      background: rgba($white, 0.2);

      .logo--alternate, .icon {
        color: $white;
      }
    }
  }
}

.main-nav .logo {
  display: inline-block;
  font-family: 'Lato', Georgia, 'Times New Roman', serif;
  font-weight: 900;
  font-size: 1.5em;
  transition: background .25s;
}

.main-nav .icon {
  position: absolute;
  left: 0;
  top: 2px;
  font-size: 2em;
  transition: background .25s;
}

.logo {
  color: $white;
  text-decoration: none;
}

.logo--alternate {
  color: $primary-nav-color;
  text-decoration: none;
}

// Input fields =====================================================================
.text-field {
  display: block;
  max-width: 320px;
  width: 80%;
  border-radius: 5px;
  padding: 10px;
  margin: 10px auto;
  outline: 0;
  letter-spacing: .02em;
  border: 0;
}

// Buttons ==========================================================================
.submit--button {
  vertical-align: middle;
  text-align: center;
  border-radius: 5px;
  border: 0;
  font-family: 'Lato', Georgia, 'Times New Roman', serif;
  font-weight: bold;
  padding: 10px;

  @media screen and (min-width: $break-medium) {
    &:hover {
      background: lighten($active-state-color, 4%);
    }
  }
}

.submit--button__login {
  background: $active-state-color;
  color: $white;
  float: right;
  transition: background .5s;
  width: 30%;
}

.submit--button__register {
  background: $active-state-color;
  color: $white;
  transition: background .5s;
  width: 30%;
}

// Headings =========================================================================
.success-heading, .error-heading {
  color: $white;
}

.register--heading {
  position: absolute;
  left: 0px;
  top: 11px;
  color: $white;
  font-size: 14px;
  font-style: italic;
}

// Menu Styling =======================================================================
/* General styles for all menus */

.cbp-spmenu {
  background: $menu-color;
  position: fixed;
}

.cbp-spmenu h3 {
  color: $white;
  font-size: 1.9em;
  display: inline-block;
  margin: 0;
  font-weight: 300;
  background: $menu-color;
}

.cbp-spmenu__alternate {
  padding: 20px;
}

.cbp-spmenu a {
  display: block;
  color: $white;
  text-decoration: none;
  font-size: 1.1em;
  font-weight: 300;
}

.cbp-spmenu span.icon {
  font-size: 1.4em;
  width: 25px;
  margin-right: 10px;
  position: relative;
}

.cbp-spmenu .icon_home {
  bottom: 5px;
}

.cbp-spmenu .icon_book,
.cbp-spmenu .icon_card,
.cbp-spmenu .icon_gear {
  bottom: 3px;
}

.cbp-spmenu a:hover {
  background: #258ecd;
}

.cbp-spmenu a:active {

  @media screen and (min-width: $break-medium) {
    background: #afdefa;
    color: #47a3da;
  }
}

/* Orientation-dependent styles for the content of the menu */

.cbp-spmenu-vertical {
  width: 240px;
  height: 100%;
  top: 0;
  z-index: 1000;
}

.cbp-spmenu-vertical a {
  padding: .8em;
}

/* Vertical menu that slides from the left or right */

.cbp-spmenu-left {
  left: -240px;
}

.cbp-spmenu-left.cbp-spmenu-open {
  left: 0;
}

/* Push classes applied to the body */

.cbp-spmenu-push {
  overflow-x: hidden;
  position: relative;
  left: 0;
}

.cbp-spmenu-push-toright {
  left: 240px;
}

/* Transitions */

.cbp-spmenu,
.cbp-spmenu-push {
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

/* Example media queries */

@media screen and (max-width: 55.1875em){

  .cbp-spmenu-horizontal {
      font-size: 75%;
      height: 110px;
  }

  .cbp-spmenu-top {
      top: -110px;
  }

  .cbp-spmenu-bottom {
      bottom: -110px;
  }

}

@media screen and (max-height: 26.375em){

  .cbp-spmenu-vertical {
      font-size: 90%;
      width: 190px;
  }

  .cbp-spmenu-left,
  .cbp-spmenu-push-toleft {
      left: -190px;
  }

  .cbp-spmenu-right {
      right: -190px;
  }

  .cbp-spmenu-push-toright {
      left: 190px;
  }
}

// Avatar stuff =====================================================================
.hero-avatar {
  width: 75px;
  height: 75px;
  border-radius: 100%;
  display: inline-block;
  overflow: hidden;
  border: 3px solid $white;
  background-color: $white;
  box-shadow: 0 1px 1px rgba($black, 0.3);
}

.hero-avatar--img {
  display: block;
  width: 100%;
  height: 100%;
  border-radius: 100%;
}

.hero-unit {
  padding: 15px 5px 0;
  text-align: center;
}

.hero-avatar--title {
  padding: 10px;
}