@import '../base/colors';

.alternate-page {
  background: $primary-nav-color;
}

.site-width {
  position: relative;
  max-width: 1000px;
  width: 90%;
  margin: 0 auto;
  text-align: center;
}

.content {
  margin-top: 50px;

  @media screen and (min-width: $break-phone) {
    margin-top: 100px;
  }

  @media screen and (min-width: $break-medium) {
    margin-top: 250px;
  }
}

.submit-container {
  display: inline-block;
  width: 80%;
  max-width: 320px;
  text-align: left;
  position: relative;
}