@import '../base/colors';

#login-page {
  background: $primary-nav-color;
}

.site-width {
  position: relative;
  max-width: 1000px;
  width: 90%;
  margin: 0 auto;
  text-align: center;
}

.content {
  margin-top: 100px;
}

.submit-container {
  display: inline-block;
  width: 80%;
  max-width: 320px;
  text-align: left;
  position: relative;
}